<section id="ccr-sports-gallery">
  <div class="ccr-gallery-ttile">
    <span></span>
    <p>Sports Gallery</p>
  </div>
  <!-- .ccr-gallery-ttile -->
  <section class="featured-sports-news">
    <div class="featured-sports-newss-img"><img src="assets/img/sports-thumb-1.jpg" alt="Thumb"></div>
    <div class="featured-sports-news-post">
      <h5>Featured Sports News Post Title</h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quod, nostrum, corrupti, maxime quis doloribus debitis id consectetur laudantium iure aperiam soluta consequuntur modi accusamus molestias. Ab veniam atque eius...
      <div class="like-comment-readmore">
        <i class="fa fa-thumbs-o-up"> 08</i>
        <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
        <a class="read-more" href="#">Read More</a>
      </div>
      <!-- /.like-comment-readmore -->
    </div>
  </section>
  <!-- /#featured-sports-news -->
  <ul>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-2.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-3.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-4.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-5.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-6.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-7.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-8.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-9.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-10.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
    <li>
      <div class="ccr-thumbnail">
        <img src="assets/img/sports-thumb-11.jpg" alt="thumbnail-small-1.jpg">
        <p><a href="#postlink">Read More</a></p>
      </div>
      <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
    </li>
  </ul>
</section>
<!-- /#ccr-sports-gallery -->
