<section id="sidebar-popular-post">
        <div class="ccr-gallery-ttile">
          <span></span>
          <p><strong>Popular Post</strong></p>
        </div>
        <!-- .ccr-gallery-ttile -->
        <ul>
          <li>
            <img src="assets/img/sports-thumb-10.jpg" alt="Avatar">
            <a href="#">This is the first popular post</a>
            <div class="date-like-comment">
              <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
              <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
              <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
            </div>
          </li>
          <li>
            <img src="assets/img/thumbnail-small-7.jpg" alt="Avatar">
            <a href="#">This is the first popular post</a>
            <div class="date-like-comment">
              <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
              <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
              <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
            </div>
          </li>
          <li>
            <img src="assets/img/sports-thumb-5.jpg" alt="Avatar">
            <a href="#">This is the first popular post</a>
            <div class="date-like-comment">
              <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
              <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
              <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
            </div>
          </li>
          <li>
            <img src="assets/img/thumbnail-small-2.jpg" alt="Avatar">
            <a href="#">This is the first popular post</a>
            <div class="date-like-comment">
              <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
              <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
              <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
            </div>
          </li>
          <li>
            <img src="assets/img/thumbnail-small-5.jpg" alt="Avatar">
            <a href="#">This is the first popular post</a>
            <div class="date-like-comment">
              <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
              <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
              <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
            </div>
          </li>
        </ul>
      </section>
      <!-- /#sidebar-popular-post -->