<section id="sidebar-video-post">
        <div class="ccr-gallery-ttile">
          <span></span>
          <p><strong>Video Post</strong></p>
        </div>
        <!-- .ccr-gallery-ttile -->
        <div class="sidebar-video">
          <iframe width="340" height="195" src="//www.youtube.com/embed/Ak8f8yTPRRc" frameborder="0" allowfullscreen></iframe>
          CodexCoder creates spectacular Premium WordPress Themes, WordPress Plugins, HTML Templates, PSD Template and more...
        </div>
        <div class="date-like-comment">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
        </div>
      </section>
      <!-- /#sidebar-video-post -->