<app-header1></app-header1>
<div class="container">
 <div class="row"> 
  <div class="col-md-8">
    <div class="about-img">
      <img class="login-image" [src]="loginimage">
    </div>
  </div>
  <div class="col-md-4">
    <div *ngIf="!user">
    <h1>Login</h1>
 <!--OAuth Authentication-->  
   
<!--OAuth Authentication-->
    <form #LoginComponent="ngForm" (ngSubmit)="onSubmit(LoginComponent.value)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="text" class="form-control" name="email" placeholder="johnny@gmail.com" ngControl="email" ngModel required #email="ngModel">
      </div>
      <div class='form-group'>
        <label for="name">Password</label>
        <input type="password" id="pwd" placeholder="*************" class="form-control" name="password" ngControl="Password" ngModel required>
      </div>
      <div class="form-group">
        <button class="form-control btn btn-primary btn-send" type="submit">Submit</button>
      </div>
    </form>
    
     <div class="classard-text"><strong>Or login with,</strong>
        <div class ="btn-group">
        <button class="btn btn-info" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
        <button class="btn btn-info" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
        <button class="btn btn-info" (click)="signInWithLinkedIn()"><span class="fa fa-linkedin"></span></button>
        </div>
      </div>
    </div>
  <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Hi,{{user.name}}
    </h6>
    <div class="card-block"></div>
    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>
  </div>
</div>
</div>
<app-footer></app-footer>
