<section id="ccr-latest-post-gallery">
        <div class="ccr-gallery-ttile">
          <span></span>
          <p>Latest Post Gallery</p>
        </div>
        <!-- .ccr-gallery-ttile -->
        <ul class="ccr-latest-post">
          <li>
            <div class="ccr-thumbnail">
              <img src="assets/img/thumbnail1.jpg" alt="Thumbnail 1">
              <p><a href="#postlink">Read More</a></p>
            </div>
            <h4><a href="#postlink">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
          </li>
          <li>
            <div class="ccr-thumbnail">
              <img src="assets/img/thumbnail2.jpg" alt="Thumbnail 1">
              <p><a href="#postlink">Read More</a></p>
            </div>
            <h4><a href="#postlink">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
          </li>
          <li>
            <div class="ccr-thumbnail">
              <img src="assets/img/thumbnail3.jpg" alt="Thumbnail 1">
              <p><a href="#postlink">Read More</a></p>
            </div>
            <h4><a href="#postlink">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
          </li>
          <li>
            <div class="ccr-thumbnail">
              <img src="assets/img/thumbnail4.jpg" alt="Thumbnail 1">
              <p><a href="#postlink">Read More</a></p>
            </div>
            <h4><a href="#postlink">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
          </li>
          <li>
            <div class="ccr-thumbnail">
              <img src="assets/img/thumbnail5.jpg" alt="Thumbnail 1">
              <p><a href="#postlink">Read More</a></p>
            </div>
            <h4><a href="#postlink">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
          </li>
          <li>
            <div class="ccr-thumbnail">
              <img src="assets/img/thumbnail6.jpg" alt="Thumbnail 1">
              <p><a href="#postlink">Read More</a></p>
            </div>
            <h4><a href="#postlink">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
          </li>
        </ul>
        <!-- /.ccr-latest-post -->
      </section>
      <!--  /#ccr-latest-post-gallery  -->