<section id="ccr-sidebar-newslater">
        <div class="ccr-gallery-ttile">
          <span></span>
          <p>
            <label for="sb-newslater"><strong>Newsletter</strong></label>
          </p>
        </div>
        <!-- .ccr-gallery-ttile -->
        <div class="sidebar-newslater-form">
          <form class="ccr-gallery-ttile" action="#">
            <input type="email" id="sb-newslater" name="sb-newslater" placeholder="Enter your email address" required>
            <button type="submit">Subscribe</button>
          </form>
        </div>
        <!-- /.sidebar-newslater-form -->
      </section>
      <!-- /#ccr-sidebar-newslater -->