<section id="sidebar-entertainment-post">
        <div class="ccr-gallery-ttile">
          <span></span>
          <p><strong>Entertainment</strong></p>
        </div>
        <!-- .ccr-gallery-ttile -->
        <div class="sidebar-entertainment">
          <img src="assets/img/entertainment.jpg" alt="entertainment">
          <a href="#">Miss Joly loves you to share her tell. Are you ready?</a>
        </div>
        <div class="date-like-comment">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
        </div>
      </section>
      <!-- /#sidebar-entertainment-post -->