<section id="ccr-calender">
        <table id="calendar">
          <caption>February 2014</caption>
          <thead data-iceapc="1">
            <tr>
              <th scope="col" title="Monday">M</th>
              <th scope="col" title="Tuesday">T</th>
              <th scope="col" title="Wednesday">W</th>
              <th scope="col" title="Thursday">T</th>
              <th scope="col" title="Friday">F</th>
              <th scope="col" title="Saturday">S</th>
              <th scope="col" title="Sunday">S</th>
            </tr>
          </thead>
          <tfoot data-iceapc="4">
            <tr data-iceapc="3">
              <td colspan="3" id="prev"><a href="#" title="Previous">&laquo; Jan</a></td>
              <td class="pad">&nbsp;</td>
              <td colspan="3" id="next" class="pad"><a href="#" title="Next">Mar &raquo;</a></td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td>2</td>
            </tr>
            <tr>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            <tr>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td><a href="#" title="Post">14</a></td>
              <td>15</td>
              <td>16</td>
            </tr>
            <tr>
              <td>17</td>
              <td id="today">18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
            </tr>
            <tr>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </section>
